@charset "utf-8";
.nav li{ padding-right:20px; margin-right:16px; border-right: solid 1px #CCC;}
.distribution_demo{ margin-left:9px; margin-right:9px;}
.county_list ul{ margin-left:8px; margin-right:7px;}
.county_specialty li{ margin-left:8px; margin-right:7px;}
.county_scenic li{ margin-left:12px; margin-right:11px;}
.ranking_demo{ margin-left:10px; margin-right:10px;}
.site_th ul{ margin-left:2px; margin-right:2px;}
.terminal_list ol p{ margin-left:4px; margin-right:4px;}