body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, select, button {margin:0;padding:0}

.mark{width:34px;height:95px;}
.content{text-align: center;width:210px;height:224px;margin:-112px 0 0 -105px;position:fixed;top:50%;left:50%;}
.sorry{margin-top:25px;font-size: 18px;font-weight: bold;color:#2f3033;text-shadow: #ffffff 0px 2px}
.desc{margin-top:10px;font-size: 14px;color:#2f3033;text-shadow: #ffffff 0px 2px}
button{margin-top:15px;font-size: 14px;color:#ffffff;background-color: #66707D;border-radius:6px;width:133px;height:38px;text-shadow: #4c545f 0px -2px;border:0}